extends layout

block content
  div.row
    div.col-md-12
      h1 Welcome to Node Express Mongoose Boilerplate
      p Login with anyone of the following -
      ul
        li 
          a(href="/auth/login/google") Google
        li 
          a(href="/auth/login/facebook") Facebook
        li 
          a(href="/auth/login/twitter") Twitter