doctype html
html
  head
    title Jaaga DemoVote
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/styles.css')
  body

    // navigation bar
    nav.navbar.navbar-default(role="navigation")
      div.container-fluid
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse-links-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Jaaga DemoVote

        div.collapse.navbar-collapse#navbar-collapse-links-1
          ul.nav.navbar-nav.navbar-right
            block navLinks

    // app body
    div.container-fluid

      block content

      div.row
        div.col-md-12
          hr
          p.pull-right Grab API and Backone source code from 
            a(href="https://github.com/ansal/jaagademovote") here.
            br
            | Android source can be found 
            a(href="https://github.com/rajeefmk/Android_Projects/tree/master/DemoVote") here.

    // templates
    block templates

    // js libs
    script(src="/js/lib/jquery.min.js")
    script(src="/js/lib/bootstrap.min.js")
    script(src="/js/lib/underscore.min.js")
    script(src="/js/lib/backbone.min.js")

    // backbone app
    block appscripts