extends layout

block navLinks
  li
    a(href="#/app/dashboard")
      span.glyphicon.glyphicon-home
      |  Dashboard

  if user.isAdmin
    li
      a(href="#/app/admin/users")
        span.fa.fa-user
        |  User Management

  li
    a(href="#")
      span.fa.fa-android
      |  Android App

  li
    a(href="/logout")
      span.fa.fa-sign-out
      |  Logout

block content
  div.row#quoteRow
    divl.col-md-offset-4.col-md-4
      div.alert.alert-info#quoteArea
        | If you want to know your future, just look at what you are doing now. Your present actions are the ones that shape your future, Gautama Buddha

  div.row
    div.col-md-12
      span.pull-right Howdy 
        = user.name
        |!   
        img.img-circle(src=user.google.picture + "?sz=30")

  div.row#appContainer
    div.col-md-offset-5.col-md-6
      <i class="fa fa-spinner fa-spin fa-5x"></i>

block templates
  script#spinnerTemplate(type="text/template")
    div.col-md-offset-5.col-md-6
      <i class="fa fa-spinner fa-spin fa-5x"></i>

  // templates related to admin only

  script#adminUsersTemplate(type="text/template")
    h2 Users
    hr
    div.alert.alert-info#adminUsersNoUsers(style!="<%= users.length === 0 ? 'display:block' : 'display:none' %>")
      strong Oh! Oh! 
      | There are no users. Why don't add one by clicking the above button?
    div.row
      div.col-md-12
        a.pull-right.btn.btn-lg.btn-success(href="#/app/admin/users/add")
          span.glyphicon.glyphicon-plus
          |  User
    div.row
      div.col-md-12
        <% _.each(users, function(user, index){ %>
        a(href!="#/app/admin/users/view/<%= typeof user.get('_id') === 'undefined' ? user.get('cid') : user.get('_id') %>")
          h3<%= index + 1 %>. <%= user.get('email') %>
        <%  }) %>
    hr

  script#adminUserAddTemplate(type="text/template")
    h2 Add New User
    hr
    div.alert.alert-info
      strong Hey there!:  
      | Be careful with the email address. Double check before adding!
    div#emailVaildationError.alert.alert-danger(style="display:none")
      strong Oh! Oh!:  
      | Did you forget something?
    div.form-group
      label(for="newUserEmail") Email
      input.form-control#newUserEmail(type=email, placeholder="Email address of user")
    a.btn.btn-default(href="#/app/admin/users") Cancel &amp; Take me Back!
    span  
    button.btn.btn-success#newUserEmailSaveButton(type="button")
      span.glyphicon.glyphicon-plus
      | Add
    hr

  script#adminUserTemplate(type="text/template")
    h2 <%= user.get('email') %>
    hr
    a.btn.btn-lg.btn-danger#removeUserButton
      span.glyphicon.glyphicon-remove
      |  Remove this user
    hr

  // templates for all users
  script#userDashboardTemplate(type="text/template")
    div.col-md-12.tile
      h2 Your Upcoming Deliverables
      hr
      div.alert.alert-info(style!="<%= deliverables.length === 0 ? 'display:block' : 'display:none' %>")
        strong Oh! Oh! 
        | You dont have any deliverables upcoming! Why dont you create one?
      div.col-md-12
        a.pull-right.btn.btn-lg.btn-success(href="#/app/deliverables/add")
          span.glyphicon.glyphicon-plus
          |  Deliverable
      div.col-md-12
        <% _.each(deliverables, function(deliverable, index){ %>
        a(href!="#/app/user/deliverable/view/<%= typeof deliverable.get('_id') === 'undefined' ? deliverable.get('cid') : deliverable.get('_id') %>")
          h3<%= index + 1 %>. <%= deliverable.get('title') %>
        <%  }) %>
        hr
    div.col-md-12.tile
      h2 Jaaga Family
      hr
      div.alert.alert-info(style!="<%= members.length === 0 ? 'display:block' : 'display:none' %>")
        strong Oh! Oh! 
        | Looks like there is no one in Jaaga right now!
      div.col-md-12
        <% _.each(members, function(member, index){ %>
        a(href!="#/app/user/family/view/<%= typeof member.get('_id') === 'undefined' ? member.get('cid') : member.get('_id') %>")
          h3<%= index + 1 %>. <%= member.get('name') %> 
            img.img-circle(src!='<%= member.get(\'google\').picture + "?sz=30" %>')
        small
          <%= member.get('deliverables').length %> Deliverable<%= member.get('deliverables').length === 1 ? '' : 's' %>, <%= JaagaDemoVote.Collections.Family.getMemberDeliverableCount(member.get('_id')) %> Delivered.
        hr
        <%  }) %>      

  script#userAddDeliverableTemplate(type="text/template")
    h2 Add a Deliverable
    hr
    div.alert.alert-info
      | Its time to show the world what you can do!
    div#validationError.alert.alert-danger(style="display:none")
      strong Oh! Oh!:  
      | I need a title and description!
    div.form-group
      label(for="deliverableTitle") Title
      input.form-control#deliverableTitle(type=text, placeholder="Enter title for your deliverable!")
    div.form-group
      label(for="deliverableDescription") Description
      textarea.form-control#deliverableDescription(rows="5", placeholder="Enter a short description for your deliverable!")
    a.btn.btn-default(href="#/app/dashboard") Cancel &amp; Take me Back!
    span  
    button.btn.btn-success#newDeliverableSaveButton(type="button")
      span.glyphicon.glyphicon-plus
      |  Create

    hr

  script#userEditDeliverableTemplate(type="text/template")
    h2 Editing "<%= deliverable.get('title') %>"
    hr
    div#validationError.alert.alert-danger(style="display:none")
      strong Oh! Oh!:  
      | I need a title and description!
    div.form-group
      label(for="deliverableTitle") Title
      input.form-control#deliverableTitle(type=text, placeholder="Enter title for your deliverable!", value!="<%= deliverable.get('title') %>")
    div.form-group
      label(for="deliverableDescription") Description
      textarea.form-control#deliverableDescription(rows="5", placeholder="Enter a short description for your deliverable!")
        | <%= deliverable.get('description') %>
    a.btn.btn-default(href="#/app/dashboard") Back to Dashboard
    span  
    button.btn.btn-success#deliverableUpdateButton(type="button")
      span.glyphicon.glyphicon-ok
      |  Update
    span  
    a.btn.btn-danger#deliverableDeleteButton
      span.glyphicon.glyphicon-remove
      |  Remove this sucker

    hr

  script#memberView(type="text/template")
    h2 <%= member.get('name') %>
    hr
    small.pull-right
      a.text-muted(href="#/app/dashboard") Back to Dashboard
    div.col-md-offset-1.col-md-9
      h3 Upcoming Deliverables
      hr
      div.alert.alert-info(style!="<%= member.getUpcomingDeliverableCount() === 0 ? 'display:block' : 'display:none' %>")
        strong Hmmm! 
        | I don't have any upcoming deliverables! But keep checking this page!
      <% _.each(member.getUpcomingDeliverables(), function(d, index){ %>
      a(href!="#/app/user/family/deliverable/view/<%= d._id %>")
        h4 <%= index + 1 %>. <%= d.title %>
      <%  }); %>

    div.col-md-offset-1.col-md-9
      h3 Completed Deliverables
      hr
      div.alert.alert-info(style!="<%= member.getCompletedDeliverableCount() === 0 ? 'display:block' : 'display:none' %>")
        strong Hmmm! 
        | I don't have completed any deliverables yet. But keep checking this page!
      <% _.each(member.getCompletedDeliverables(), function(d, index){ %>
      a(href!="#/app/user/family/deliverable/view/<%= d._id %>")
        h4 <%= index + 1 %>. <%= d.title %>
      <%  }); %>
    div.col-md-12
      hr

  script#memberDeliverableView(type="text/template")
    h2 <%= deliverable.get('title') %>
      br
      small
        span.text-muted
          <%= deliverable.get('delivered') === true ? 'I have delivered the project on ,' : 'I haven\'t delivered the project yet, ' %>
          <%= deliverable.get('user').name %>   
          img.img-circle(src!='<%= JaagaDemoVote.User.google.picture + "?sz=30" %>')
    hr
    small.pull-right
      a.text-muted(href="#/app/dashboard") Back to Dashboard
    p
    div.col-md-offset-2.col-md-8
      div.col-md-8
        blockquote <%= deliverable.get('description') %>
      div.col-md-6
        h1.text-success <%= deliverable.getLikedCount() %>
        small People liked this Deliverable!
      div.col-md-6
        h1.text-danger <%= deliverable.getHatedCount() %>
        small People hated this Deliverable :(
      div.col-md-12(style!="<%= deliverable.didIVote() === true ? 'display:block' : 'display:none' %>")
        div.alert.alert-success#voteLikedAlert(style!="<%= deliverable.didIVote() === true && deliverable.whatDidIVote() === true ? 'display:block' : 'display:none' %>")
          span.glyphicon.glyphicon-thumbs-up
          |  You liked this deliverable!
        div.alert.alert-danger#voteHatedAlert(style!="<%= deliverable.didIVote() === true && deliverable.whatDidIVote() === false ? 'display:block' : 'display:none' %>")
          span.glyphicon.glyphicon-thumbs-down
          |  You hated this deliverable!
      |<% if(JaagaDemoVote.User.isAdmin) { %>
      div.col-md-12
        hr
        div.alert.alert-info
          strong Heyo Admin! 
          | You can do a lot of serious stuff using the buttons below!
        div.col-md-4
          a(href="#")#openVoteButton.btn.btn-xs.btn-info
            span.glyphicon.glyphicon-ok
            |  Open Voting!
        div.col-md-4
          a(href="#")#closeVoteButton.btn.btn-xs.btn-warning
            span.glyphicon.glyphicon-remove
            |  Close Voting!
        div.col-md-4
          a(href="#")#completeDeliverableButton.btn.btn-xs.btn-success
            span.glyphicon.glyphicon-ok
            |  Mark as Completed!
      |<% } %>
      div.col-md-12#deliverableVotingArea(style!="<%= deliverable.get('votingopen') === true && !(deliverable.didIVote()) ? 'display:block' : 'display:none' %>")
        hr
        div.alert.alert-success#voteAlert
          strong Hey there!
          | Voting is going on for this deliverable. Please cast your vote and show your love!
        h4 Cast your Vote!
        hr
        div.col-md-6
          a(href="#")#voteUp.btn.btn-lg.btn-success.votingButton
            span.glyphicon.glyphicon-thumbs-up
            |  Like It!
        div.col-md-6
          a(href="#")#voteDown.btn.btn-lg.btn-danger.votingButton
            span.glyphicon.glyphicon-thumbs-down
            |  Hate It!

    div.col-md-12
      hr


block appscripts
  script(src="/js/models.js")
  script(src="/js/collections.js")
  script(src="/js/views.js")
  script(src="/js/routes.js")
  script(src="/js/app.js")

  // inline scripts for bootstrapping models
  script
    | JaagaDemoVote.User = 
    != userInfo
    |;